 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 ab ">
                    <p>
                        <b>Shir Ya Khat</b> podcast, which translates to <i>"Head or Tails"</i> in Farsi, started its non-profit mission in early 2017. 
                        <br>
                        The Vision of Shir Ya Khat is open and free information for all, similar to <a href="https://coiniran.com">Coiniran</a>. 
                        <br>
                        The main goal is to remove the language barrier in order to allow the knowledge on blockchain and decentralization to 
                        be accessible to Farsi speakers, and offer a global open platform for people to discuss related subjects. 
                    </p>
                </div>
                <div class="col-lg-4 ab farsi">
                    <p>
                         پادکست شیر یا خط٫ در سال ۱۳۹۵ با ایده اطلاعات آزاد و مجانی شروع شد.
                        <br>
                        هدف اصلی این پادکست٫ رفع محدودیت های زبان در موضوعات بلاکچین و تکنولوژی های غیر متمرکز  برای فارسی زبانان است.

                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:info@shiryakhat.net?subject=Contact from website" target='_blank' class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact us
                    </a>
                </div>
            </div>
        </div>
    </section>
