<!-- Astronauts Section -->
<section class="astronauts-section" id="astronauts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title animated fadeInUp">Astronauts <span class="farsi-title">فضانوردان</span></h2>
                <hr class="star-primary">
                <p class="section-subtitle animated fadeInUp">Meet the voices behind Shir Ya Khat podcast</p>
            </div>
        </div>
        <div class="row astronauts-row">
            <!-- Astronaut Card -->
            <div class="col-md-4 col-sm-6 astronaut-item animated fadeInUp" data-wow-delay="0.2s">
                <div class="astronaut-card">
                    <div class="astronaut-image">
                        <img src="{{site.url}}/img/astronauts/0000.png" alt="Shir ya Khat Astronaut">
                        <div class="astronaut-overlay">
                            <div class="astronaut-social">
                                <a href="https://twitter.com/shiryakhat" class="social-icon twitter" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://t.me/shiryakhat" class="social-icon telegram" target="_blank">
                                    <i class="fa-brands fa-telegram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="astronaut-info">
                        <h3 class="astronaut-name">Shir ya Khat Astronaut</h3>
                        <p class="astronaut-bio">Obverse and Reverse - We only can go to the moon together, let's go! <3</p>
                        <div class="astronaut-traits">
                            <span class="trait"><i class="fa-solid fa-user"></i> Kind</span>
                            <span class="trait"><i class="fa-solid fa-globe"></i> Earth</span>
                            <span class="trait"><i class="fa-solid fa-rocket"></i> Gen 0</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Add more astronaut cards as you get more team members -->
            
        </div>
    </div>
</section>