<!-- Footer -->
<footer class="modern-footer" role="contentinfo" aria-label="Site footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-section animated fadeInUp" data-wow-delay="0.1s">
                    <h3 class="footer-title">Support Us | حمایت از ما</h3>
                    <div class="partners-logos">
                        <a href="https://coiniran.com" target="_blank" class="partner-logo no-underline">
                            <img src="{{site.url}}/img/sponsors/coiniran.png" alt="CoinIran - Sponsor" width="60" height="60" loading="lazy">
                        </a>
                        <a href="https://giveth.io/project/ethereum-technology-for-farsi-speaking-population" target="_blank" class="partner-logo no-underline">
                            <img src="{{site.url}}/img/sponsors/giveth.png" alt="Giveth - Sponsor" width="60" height="60" loading="lazy">
                        </a>
                        <a href="https://buymeacoffee.com/pangana" target="_blank" class="partner-logo no-underline">
                            <span class="bmc-icon">
                                <i class="fa fa-coffee fa-2x" style="color: #FFDD00;"></i>
                                <i class="fa fa-heart fa-xs" style="color: #ff6b6b; position: absolute; top: 8px; right: 8px;"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 footer-section animated fadeInUp" data-wow-delay="0.3s">
                    <h3 class="footer-title text-center">{{ site.footer.social }}</h3>
                    <div class="social-links">
                        <a href="https://www.youtube.com/playlist?list=PLDwI1rIhknpNmr4nno40seb6FAiJ-jsun" class="social-link youtube" target="_blank" title="YouTube" onclick="ga('send', 'event', 'Social', 'YouTube', 'Footer');">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                        
                        <a href="https://open.spotify.com/show/7AQ3C6yGz4haADinqtP63N" class="social-link spotify" target="_blank" title="Spotify" onclick="ga('send', 'event', 'Social', 'Spotify', 'Footer');">
                            <i class="fa fa-spotify"></i>
                        </a>
                        
                        <a href="https://podcasts.apple.com/us/podcast/id1221206951" class="social-link apple" target="_blank" title="Apple Podcasts" onclick="ga('send', 'event', 'Social', 'Apple', 'Footer');">
                            <i class="fa fa-apple"></i>
                        </a>
                        
                        <a href="https://soundcloud.com/shiryakhat" class="social-link soundcloud" target="_blank" title="SoundCloud" onclick="ga('send', 'event', 'Social', 'SoundCloud', 'Footer');">
                            <i class="fa fa-soundcloud"></i>
                        </a>
                        
                        <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9zaGlyeWFraGF0Lm5ldC9mZWVkLnhtbA" class="social-link google" target="_blank" title="Google Podcasts" onclick="ga('send', 'event', 'Social', 'Google', 'Footer');">
                            <i class="fa fa-google"></i>
                        </a>
                        
                        <a href="https://t.me/shiryakhat" class="social-link telegram" target="_blank" title="Telegram" onclick="ga('send', 'event', 'Social', 'Telegram', 'Footer');">
                            <i class="fa fa-paper-plane"></i>
                        </a>
                        
                        <a href="https://twitter.com/shiryakhat" class="social-link twitter" target="_blank" title="Twitter" onclick="gtag('event', 'social', {'event_category': 'Social', 'event_label': 'Twitter', 'event_action': 'Follow'});" aria-label="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        
                        <a href="https://github.com/shiryakhat" class="social-link github" target="_blank" title="GitHub" onclick="gtag('event', 'social', {'event_category': 'Social', 'event_label': 'GitHub', 'event_action': 'Follow'});" aria-label="Follow us on GitHub">
                            <i class="fa fa-github"></i>
                        </a>
                        
                        <a href="https://www.shiryakhat.net/feed.xml" class="social-link rss" target="_blank" title="RSS Feed" onclick="gtag('event', 'social', {'event_category': 'Social', 'event_label': 'RSS', 'event_action': 'Subscribe'});" aria-label="Subscribe to our RSS feed">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 footer-section animated fadeInUp" data-wow-delay="0.5s">
                    <h3 class="footer-title">About Us</h3>
                    <div class="footer-about">
                        <p>{{ site.credits }}</p>
                        <div class="footer-logo">
                            <img src="{{site.url}}/img/profile.png" alt="{{ site.title }} podcast logo" width="50" height="50">
                            <div class="footer-title-text">
                                <span class="en">{{ site.title }}</span>
                                <span class="fa">{{ site.title_fa }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>&copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}</p>
                </div>
                <div class="col-md-6 footer-nav">
                    <ul class="footer-links">
                        <li><a href="/#about" onclick="ga('send', 'event', 'Navigation', 'About', 'Footer');">About</a></li>
                        <li><a href="/archive#portfolio" onclick="ga('send', 'event', 'Navigation', 'Episodes', 'Footer');">Episodes</a></li>
                        <li><a href="mailto:info@shiryakhat.net" onclick="ga('send', 'event', 'Navigation', 'Contact', 'Footer');">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button -->
    <div class="scroll-top">
        <a class="btn btn-scroll-top" href="#page-top" onclick="ga('send', 'event', 'Navigation', 'ScrollToTop', 'Page');">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</footer>