 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{site.url}}/img/episodes/{{ post.episode }}.jpeg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.content %}
                                <p>{{ post.content }}</p>

                            {% endif %}
                            <ul class="list-inline item-details">


                                {% if post.youtube %}
                                <a href= "{{ post.youtube }}" target = "_blank" ><img src="{{site.url}}/{{ post.youtube_thumb }}" style="width:374px !important;height:210px !important;" alt="Watch on Youtube"> </img> 
                                </a><br>
                                {% endif %}  


                                {% if post.soundcloud %}
                                <a href= "{{ post.soundcloud }}" target = "_blank" ><img src="/img/platforms/soundcloud.png"  alt="Listen on SoundCloud"> </img> 
                                </a>
                                {% endif %}  
                                
                                {% comment %}

                                <!-- {% if post.soundcloud_emb %}
                                    {{ post.soundcloud_emb }}
                                {% endif %} -->

                                <!-- {% if post.spotify_emb %}
                                    {{ post.spotify_emb }}
                                {% endif %} -->
                                {% endcomment %}

                                {% if post.spotify %}
                                <a href= "{{ post.spotify }}" target = "_blank" ><img src="/img/platforms/spotify.png"  alt="Listen on Spotify"> </img> 
                                </a>
                                {% endif %}  

                                {% if post.apple_podcast %}
                                    <a href= "{{ post.apple_podcast }}" target = "_blank" ><img src="/img/platforms/apple_podcasts.png"  alt="Apple Podcasts"> </img> 
                                    </a>
                                {% endif %}       
                                
                                {% if post.google_podcast %}
                                <a href= "{{ post.google_podcast }}" target = "_blank" ><img src="/img/platforms/google_podcasts.png"  alt="Google Podcasts"> </img> 
                                </a>
                                {% endif %} 

                                {% if post.anchor %}
                                <a href= "{{ post.anchor }}" target = "_blank" ><img src="/img/platforms/anchor.png"  alt="Anchor.fm"> </img> 
                                </a>
                                {% endif %} 

                                {% comment %}

                                <!-- {% if post.soundcloud %}
                                        <strong><a href="{{ post.soundcloud}}"> <li><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %} -->
                                {% endcomment %}

                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}