
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Episodes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                  {% if forloop.index == 9 %}
                        {% break %}
                  {% endif %}
                    <div class="col-sm-3 portfolio-item">
                        <a href="{{site.url}}{{post.url}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    {{ post.title }} 
                                </div>
                            </div>
                            <figure class="figcaption">
                            <img src="{{site.url}}/img/episodes/{{ post.episode }}.jpeg " class="img-responsive"  alt="{{ post.alt }}">
                            <figcaption>{{ post.title }} </figcaption>
                            </figure>
                        </a>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <a href="/archive#portfolio" class="btn btn-lg btn-more">
                        <i class="fa fa-podcast" aria-hidden="true"></i> All Episodes | همه قسمت ها
                    </a>
                </div>
            </div>
        </div>
    </section>