    <!-- Footer -->
    <sponsors class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sponsors</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4">
                    <p>
                        <a href= "https://giveth.io/project/ethereum-for-farsi-speaking-population" target="_blank">
                        <img src="{{site.url}}/img/sponsors/giveth_wide.png" width="50%"> </a>
                    </p>
                </div>

                <div class="col-lg-4">
                    <p>
                        <a href= "https://coiniran.com" target="_blank">
                        <img src="{{site.url}}/img/sponsors/coiniran.png" width="40%"> </a>
                    </p>
                </div>

                <div class="col-lg-4">
                    <p>
                        <a href= "https://gitcoin.co/grants/152/ethereum-for-farsi-speaking-population?tab=contributors" target="_blank">
                        <img src="{{site.url}}/img/sponsors/gitcoin.svg" width="30%"> </a>
                    </p>
                </div>

                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:info@shiryakhat.net?subject=Contact from website" target='_blank' class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact us
                    </a>
                </div> -->
            </div>
        </div>
    </sponsors>

 
